ask_a_human_for_help.json
{
  "name": "ask a human for help",
  "nodes": [
    {
      "parameters": {},
      "id": "81fbdef7-e9cd-452d-b7b4-4a15d076e287",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        400,
        304
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "dont_know_tool",
        "description": "Use this tool if you don't know the answer to the user's question, or if you're not very confident about your answer.",
        "workflowId": "={{ $workflow.id}}",
        "fields": {
          "values": [
            {
              "name": "chatInput",
              "stringValue": "={{ $('Chat Trigger').item.json.chatInput }}"
            }
          ]
        }
      },
      "id": "f7443b95-af5b-4993-aa27-20b47d613e5e",
      "name": "Not sure?",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        624,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f45e37cc-cdca-4051-a3dd-17d4fbd73397",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        48,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 519,
        "width": 1006,
        "color": 3
      },
      "id": "9257cd59-1784-4d2b-a0fa-6adc434645ff",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 486.5625,
        "width": 927.5,
        "color": 5
      },
      "id": "2cd52531-0322-4b81-af07-ae461fca4cbd",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n",
        "height": 147,
        "width": 181,
        "color": 4
      },
      "id": "8dc56f78-c06a-4e62-8fba-5ac10bb2bfea",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 213.44323866265472,
        "width": 150,
        "color": 2
      },
      "id": "cc761dbc-5e8c-463b-ae3b-77ffea2a1445",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 171,
        "width": 194,
        "color": 5
      },
      "id": "fd2d4777-71c3-419f-bd38-8f0ebb719c35",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "22c26a5b-93a2-4773-b7fd-2d468170c004",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        112,
        64
      ],
      "webhookId": "785e0c0c-12e5-4249-9abe-47bb131975cb",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "response = {\"response\":\"I'm sorry I don't know the answer. Please repeat your question and include your email address so I can request help.\"};\nreturn response;"
      },
      "id": "118f0add-958e-4228-a98c-08e3864dfbf9",
      "name": "Prompt the user to provide an email",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        1072
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "response = {\"response\": \"Thank you for getting in touch. I've messaged a human to help.\"}\nreturn response;"
      },
      "id": "b8f9039f-0c62-42b7-91d4-984b93ddffe6",
      "name": "Confirm that we've messaged a human",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Try to answer the user's question. When you can't answer, or you're not confident of the answer, use the appropriate tool. When you use the dont_know_tool, respond with the message from the tool."
        }
      },
      "id": "a453a87f-b222-4543-90ee-c56e4b7d0169",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        384,
        64
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5e21e7c5-db60-4111-bb17-c289ae0fc159",
              "operator": {
                "type": "string",
                "operation": "regex"
              },
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chatInput }}",
              "rightValue": "/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/gi"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16e68e79-4d01-496c-a3fd-5b4fa896a2fc",
      "name": "Check if user has provided email",
      "type": "n8n-nodes-base.if",
      "position": [
        272,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A26SW5G6Q",
          "mode": "list",
          "cachedResultName": "top-news"
        },
        "text": "={{ \"A user had a question the bot couldn't answer. Here's their message: \" + $('Execute Workflow Trigger').item.json.chatInput }}",
        "otherOptions": {}
      },
      "id": "a8446b10-d7cd-47b3-be7e-ba6379fc350f",
      "name": "Message Slack for help",
      "type": "n8n-nodes-base.slack",
      "position": [
        560,
        800
      ],
      "typeVersion": 2.1,
      "webhookId": "160c1e9d-d6c7-4df1-b96a-9c60c2d1379d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "Im5GaJEaXDnkmaxC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "id": "9b47a68a-8f44-40da-9cd1-1a4cc1b1e9bb",
      "name": "Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7rK7hucXIhaFaEBh",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Not sure?": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Message Slack for help": {
      "main": [
        [
          {
            "node": "Confirm that we've messaged a human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check if user has provided email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if user has provided email": {
      "main": [
        [
          {
            "node": "Message Slack for help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt the user to provide an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d4e1a37-4e80-406b-b945-94b154ebabea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e101d3fb853740155a95b43a247f26ac9147d32bd17092d5ee9c914d31637b36"
  },
  "id": "2yQ9mZvGlGZfKefj",
  "tags": []
}